// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

main {
    flex: 1;
}

nav {
    border-bottom: 1px solid #343a4080;
}

.phone {
    letter-spacing: 0.075em;
}

.logo path {
    transition: 0.2s ease-in-out;
}

.logo:hover path {
    fill: #fbbf24;
}

.main-footer {
    text-align: center;
    color: #dee2e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #343a4080;
    padding: 1rem 0;
}

main {
    max-height: 100vh;
    overflow-y: auto;
}

.container {
    margin-block: 4rem;
}

header {
    background-color: #1c1c1f;
}

a {
    color: #fbbf24;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.active {
    border-bottom: 2px solid #f59e0b
}

a:hover {
    color: #f59e0b;
}

.nav-item:hover a {
    transform: scale(1.05);
}

.btn-outline-primary {
    color: #fbbf24;
    border-color: #fbbf24;
    transition: 0.2s ease-in-out;
}

.btn-outline-primary:hover {
    color: #000000;
    background-color: #f59e0b;
    border-color: #f59e0b;
}

[data-bs-theme="dark"] {
    /* Основные цвета */
    --bs-body-bg: #0e0e10;
    --bs-body-color: #e0e0e0;

    /* Навигация и фоновая подсветка */
    --bs-secondary-bg: #1c1c1f;
    --bs-tertiary-bg: #2a2a2d;

    /* Цвет текста */
    --bs-secondary-color: #9ca3af;
    --bs-link-color-rgb: #fbbf24;
    --bs-link-hover-color: #f59e0b;

    /* Цвета кнопок и акцентов */
    --bs-primary: #fbbf24;
    --bs-primary-text-emphasis: #fbbf24;
    --bs-primary-bg-subtle: #2b2a1c;
    --bs-primary-border-subtle: #f59e0b;

    /* Границы и разделители */
    --bs-border-color: #2a2a2d;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.05);

    /* Подсветка */
    --bs-highlight-bg: #1a1a1d;
    --bs-highlight-color: #e0e0e0;
}